{% extends "core/base.html" %}

{% block content %}
<form class="form-signin" method="post">
    <img class="logo" src="/static/images/tor-logo@2x.png" alt="The Tor Project">

    <h1 class="h3 mb-3 font-weight-normal">Request Gitlab Account</h1>

    <label for="input-email" class="sr-only">Email address</label>
    <input type="email" id="input-email" name="email" class="form-control" placeholder="Email address" required autofocus>

    <label for="input-username" class="sr-only">Username</label>
    <input type="text" id="input-username" name="username" class="form-control" placeholder="Username" required>

    <p>Please explain why you want to collaborate with the Tor community</p>

    <textarea class="form-control" name="reason" maxlength="256" placeholder="For Example: I wish to report an issue in Tor Browser." rows="3"></textarea>

    {% csrf_token %}

    <button class="btn btn-success btn-tor" type="submit">Request Account</button>
</form>
{% endblock %}
